body {
  background-image: url("table.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn1 {
    position: fixed;
    bottom: 10px;
    left: 30%;
    /*margin-left: -104.5px; /*104.5px is half of the button's width*/
}
.btn2 {
    position: fixed;
    bottom: 10px;
    left: 35%;
    /*margin-left: -104.5px; /*104.5px is half of the button's width*/
}
.btn3 {
    position: fixed;
    bottom: 10px;
    left: 40%;
    /*margin-left: -104.5px; /*104.5px is half of the button's width*/
}
.btn4 {
    position: fixed;
    bottom: 10px;
    left: 45%;
    /*margin-left: -104.5px; /*104.5px is half of the button's width*/
}
.btn5 {
    position: fixed;
    bottom: 10px;
    left: 50%;
    /*margin-left: -104.5px; /*104.5px is half of the button's width*/
}
.btn6 {
    position: fixed;
    bottom: 10px;
    left: 55%;
    /*margin-left: -104.5px; /*104.5px is half of the button's width*/
}
