.container {
  position: relative;
}
.bottomcenter{
  position: absolute;
  bottom: 8px;

  font-size: 18px;
}
.bottomright {
  position: absolute;
  bottom: 8px;
  right: 12px;

  font-size: 18px;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-family: Arial, sans-serif;
  color: Grey;
}

button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: black; /* Black */
  border: 1px solid white;
  border-radius: 2px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  font-size: 16px;
  width: 140px;
}

button:hover {
  background-color: #f44336;
}
