<body>
  <div class="bg2">
    <div id="title">
      <h1 style="color:white;">Welcome to Cottages Casino</h1>
      <h2 style="color:white;">If this is your first time, please sign up.<br>Otherwise, welcome back!</h2>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
    <div id="input">
      <strong style="color:white;">USERNAME:</strong> <input id="username" class="input-small" type="text" />
      <strong style="color:white;">  PW:</strong> <input id="pw" class="input-small" type="text" />
      <br>
    </div>
    <div id="buttons">
      <button id="signup" class="btn">SIGN UP</button>
      <button id="signin" class="btn">SIGN IN</button>
    </div>
  </div>
</body>
